body, html {
	margin: 0;
	padding: 0;
}

.backgroundimg {
	background-image:url("./img/sunset.jpg");
	background-size: cover;
	background-position: top right;
	background-repeat: no-repeat;
	height: 100vh;
}

@media only screen and (min-width: 768px) {
	.backgroundimg {
		background-position: bottom center;
	}
}